.App{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 900px;
  height: auto;
  min-height: 600px;
  background: burlywood;
  border: #3e2723 1px solid;
  border-radius: 12px;
  margin: 0 auto;
  font-family: "Arial Rounded MT Bold", sans-serif;
}
.toaster{
  background: #444;
  color: white;
  padding: 16px;
  position: absolute;
  z-index: 999;
  transition: top 0.5s ease;
}
.controls{
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  width: 250px;
}
button, input, label{
  margin-top: 10px;
  height: 25px;
  text-align: center;
}
button{
  background: #3e2723;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: aliceblue;
  font-family: "Arial Rounded MT Bold", serif;
}
label{
  font-size: xx-large;
  margin-bottom: 20px;
}
.form-div{
  display: flex;
  flex-direction: column;
}
.number-list-div{
  border: 1px solid #3e2723;
  color: #3e2723;
  border-radius: 12px;
  display: grid;
  text-align: center;
  grid-template-columns: auto auto auto auto;
  width: 750px;
  background: #efebe9;
}
.number{
  margin: 15px;
}
.number-input{
  margin-top: 60px;
}
.sort-btn{
  border-radius: unset;
  display: flex;
  align-items: center;
  padding: 3px;
}
